@model IEnumerable<WebApplication12.Data.Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Herbs Homepage</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    <!-- header section starts  -->

    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#home" class="logo">Herbs & Fruits<span>.</span></a>

        <nav class="navbar">
            <a href=@Url.Action("Index","Default")>home</a>

            <a href="@Url.Action("Search","Customer")">Search</a>
            <a href="homepage.html#productsStore">products</a>
            <a href="homepage.html#about">about</a>

            <a href="homepage.html#review">reviews</a>
            <a href="homepage.html#contact">contact</a>
        </nav>
        <!---Replace Directories!!!!!!--->
        <div class="icons">
            <a href="Shopping Cart/cart.html" class="fas fa-shopping-cart"><span>0</span></a>

        </div>

    </header>

    <!-- header section ends -->
    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>fresh herbs and fruits</h3>
            <span> natural & healthy  </span>
            <p>These fruits and herbs are healthy and good for human kind. and they cure almost every disease</p>
            <a href="#productsStore" class="btn">shop now</a>
        </div>

    </section>

    <!-- home section ends -->
    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> <span> about </span> us </h1>

        <div class="row">

            <div class="video-container">
                <video controls="controls">
                    <source src="~/images/about-vid.mp4" type="video/mp4" />
                </video>
                <h3>best herbs Shop</h3>
            </div>

            <div class="content">
                <h3>why choose us?</h3>
                <p>Our herbs are freshly harvested and are grown in a peaceful clean enviroment, watered with the cleanest water which is low on sodium and salts.</p>
                <p>we have many branches and 2 payment methods (cash on delivery) and (online payment) with free delivery and 10 days return.</p>

            </div>

        </div>

    </section>

    <!-- about section ends -->
    <!-- icons section starts  -->

    <section class="icons-container">

        <div class="icons">
            <img src="~/images/icon-1.png" />
            <div class="info">
                <h3>free delivery</h3>
                <span>on all orders</span>
            </div>
        </div>

        <div class="icons">
            <img src="~/images/icon-2.png" />
            <div class="info">
                <h3>10 days returns</h3>
                <span>moneyback guarantee</span>
            </div>
        </div>

        <div class="icons">
            <img src="images/icon-3.png" alt="">
            <img src="~/images/icon-3.png" />
            <div class="info">
                <h3>offer & gifts</h3>
                <span>on all orders</span>
            </div>
        </div>

        <div class="icons">
            <img src="images/icon-4.png" alt="">
            <img src="~/images/icon-4.png" />
            <div class="info">
                <h3>secure paymens</h3>
                <span>protected by paypal</span>
            </div>
        </div>

    </section>

    <!-- icons section ends -->
    <!-- prodcuts section starts  -->
    @*<section class="productsStore" id="productsStore">

            <h1 class="heading"> latest <span>products</span> </h1>

            <div class="box-container">

                <div class="box">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html"><img src="images/img-1.jpg" alt=""></a>
                        <img src="~/images/img-1.jpg" />
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Badia allspice</h3>
                        <div class="price">EGP 105.30 <span>EGP 117.00</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-15%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">
                            <img src="images/img-2.jpg" alt="">
                            <img src="~/images/img-2.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Basil Leaves</h3>
                        <div class="price"> EGP 51 <span>EGP 60</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html"> <img src="images/img-3.jpg" alt=""></a>
                        <img src="~/images/img-3.jpg" />
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Keya Rosemary</h3>
                        <div class="price"> EGP 95 <span>EGP 100</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-20%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">
                            <img src="~/images/img-4.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Bergamot Essential Oil</h3>
                        <div class="price"> EGP 33.6 <span>EGP 42</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-17%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">
                            <img src="~/images/img-5.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Dragon Fruit</h3>
                        <div class="price"> EGP 74.70 <span>EGP 90</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-3%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">
                            <img src="~/images/img-6.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Oranges</h3>
                        <div class="price"> EGP 7 <span>EGP 10</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-18%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">

                            <img src="~/images/img-7.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Strawberries</h3>
                        <div class="price"> EGP 8.2 <span>EGP 10.00</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-10%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">
                            <img src="~/images/img-8.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Tanjerine</h3>
                        <div class="price"> EGP 10.08 <span>EGP 12.00</span> </div>
                    </div>
                </div>

                <div class="box">
                    <span class="discount">-5%</span>
                    <div class="image">
                        <a href="Product%20Page/product.html">

                            <img src="~/images/img-9.jpg" />
                        </a>
                        <div class="icons">

                            <a class="cart-btn">add to cart</a>

                        </div>
                    </div>
                    <div class="content">
                        <h3>Avocado</h3>
                        <div class="price"> EGP 85.5 <span> EGP 90 </span> </div>
                    </div>
                </div>

            </div>

        </section>*@

    <section class="productsStore" id="productsStore">

        <h1 class="heading"> latest <span>products</span> </h1>

        <div class="box-container">

            @foreach (var item in Model)
            {
                <div class="box">

                    <div class="image">

                        @*<a href="Product%20Page/Product.html"> <img src="@Url.Content(item.image)" /></a>*@
                        <div class="icons">
                            <a class="cart-btn">add to cart</a>
                        </div>

                    </div>
                </div>
                <div class="content">
                    <h3>@item.ProductName</h3>
                    <div class="price">EGP 105.30 <span>@item.Price</span> </div>
                </div>}
        </div>
    </section>

    <!-- prodcuts section ends -->
    <!-- review section starts  -->

    <section class="review" id="review">

        <h1 class="heading"> customer's <span>reviews</span> </h1>

        <div class="box-container">

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>I was suffering from a mild migraine and i ate some herbs and i never got migranes again.</p>
                <div class="user">

                    <img src="~/images/pic-1.png" />
                    <div class="user-info">
                        <h3>Tom Cruise</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Greatest Herbs shop on the world web , i've never seen such an elegant design with the easy useable services. Thank you for making it easy for us.</p>
                <div class="user">
                    <img src="images/pic-2.png" alt="">
                    <img src="~/images/pic-2.png" />
                    <div class="user-info">
                        <h3>Lady Gaga</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>

                </div>
                <p>I ordered the dragon fruit , and i didn't receive any dragons with it , i am completely unsatisfied .</p>
                <div class="user">

                    <img src="~/images/pic-3.png" />
                    <div class="user-info">
                        <h3>Barry Allen</h3>
                        <span>unsatisfied  customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

        </div>

    </section>

    <!-- review section ends -->
    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <h1 class="heading"> <span> contact </span> us </h1>

        <div class="row">

            <form action="">
                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="number" placeholder="number" class="box">
                <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn">
            </form>

            <div class="image">
                <img src="images/contact-img.png" alt="">
                <img src="~/images/contact-img.png" />

            </div>

        </div>

    </section>

    <!-- contact section ends -->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#productsStore">products</a>
                <a href="#review">reviews</a>
                <a href="#contact">contact</a>
            </div>

            <div class="box">
                <h3>locations</h3>
                <a href="#">Maadi</a>
                <a href="#">Helwan</a>
                <a href="#">Nasr City</a>
                <a href="#">5th Settlement</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#">+201129124201</a>
                <a href="#">sherif.emad159@gmail.com</a>
                <a href="#">FCAI Helwan , Cairo , Egypt</a>
                <img src="~/images/payment.png" />
            </div>

        </div>



    </section>

    <!-- footer section ends -->








    <script src="js/shoppingcart.js"></script>










</body>
</html>

